*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(accedoback2.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.container-total{
    width: 100%;
    max-width:700px ;
    margin: auto;
    position: relative;
}
.box-back{
    width: 100%;
    padding: 19px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color:   #97959d;
}