/*delete style for default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*insert background img accedo with*/
body{
    background-image: url(accedoback2.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.total-container{
    width: 100%;
    max-width:700px ;
    margin: auto;
    position: relative;
}
.back-box{
    border-radius: 30px;
    width: 100%;
    padding: 19px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 30, 59, 0.4);
}

.back-box div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;   
}
.back-box div p,
.back-box div button{
    margin-top: 30px;
}

.back-box div h3{
    font-weight: 400;
    font-size: 26px;
}
.back-box button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;

}
/*and hover for button register and login*/
.back-box button:hover{
    background: #5dade2  ;
    color:white;
}
/*forms*/

.login-container{
    font-display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    position: relative;
    top: -380px;
    left: 10px;
}
.login-container form{
    width: 100%;
    padding: 50px;
    background: white;
    position: absolute;
    border-radius: 20px;
}
.login-container form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: #5dade2 ;
}
.login-container form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.login-container form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: #5dade2;
    color: white;
    cursor: pointer;
}

.form-login{
    opacity: 1;
    display: block;
}
.form-register{
    display: none;
}

/*Responsive of login*/

@media screen and (max-width:850px){
    main{
        margin-top: 100px;

    }
    .back-box{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .back-box div{
        margin: 0px;
        position: absolute  ;
    }
    /*form responsive*/
    .login-container{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .login-container form{
        position: relative;
    }
}